<p>Do you really want to delete <strong><%= inst.name %></strong> ???</p>

<form method="post">
	<div>
		<input type="hidden" id="id" name="id" value="<%= inst._id %>" />
	</div>
	<button type="submit">Delete Instrument</button>
</form>
